=begin
#FireFawkes Developer API

#External Facing Developer API 

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.2.3

=end

require "uri"

module LogfaceClient
  class ContextApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Retrieve context
    # This endpoint allows for retrieving events based on an SPL query. SPL Reference -- http://docs.splunk.com/Documentation/Splunk/latest/SearchReference/WhatsInThisManual 
    # @param id 
    # @param tenant_id ID of the tenant
    # @param [Hash] opts the optional parameters
    # @return [SearchContext]
    def contexts_id_get(id, tenant_id, opts = {})
      data, _status_code, _headers = contexts_id_get_with_http_info(id, tenant_id, opts)
      return data
    end

    # Retrieve context
    # This endpoint allows for retrieving events based on an SPL query. SPL Reference -- http://docs.splunk.com/Documentation/Splunk/latest/SearchReference/WhatsInThisManual 
    # @param id 
    # @param tenant_id ID of the tenant
    # @param [Hash] opts the optional parameters
    # @return [Array<(SearchContext, Fixnum, Hash)>] SearchContext data, response status code and response headers
    def contexts_id_get_with_http_info(id, tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ContextApi.contexts_id_get ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ContextApi.contexts_id_get"
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ContextApi.contexts_id_get"
      end
      # resource path
      local_var_path = "/contexts/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'tenantID'] = tenant_id

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SearchContext')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContextApi#contexts_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a search context
    # 
    # @param search_context 
    # @param tenant_id ID of the tenant
    # @param [Hash] opts the optional parameters
    # @return [SearchContext]
    def contexts_post(search_context, tenant_id, opts = {})
      data, _status_code, _headers = contexts_post_with_http_info(search_context, tenant_id, opts)
      return data
    end

    # Create a search context
    # 
    # @param search_context 
    # @param tenant_id ID of the tenant
    # @param [Hash] opts the optional parameters
    # @return [Array<(SearchContext, Fixnum, Hash)>] SearchContext data, response status code and response headers
    def contexts_post_with_http_info(search_context, tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ContextApi.contexts_post ..."
      end
      # verify the required parameter 'search_context' is set
      if @api_client.config.client_side_validation && search_context.nil?
        fail ArgumentError, "Missing the required parameter 'search_context' when calling ContextApi.contexts_post"
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ContextApi.contexts_post"
      end
      # resource path
      local_var_path = "/contexts"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'tenantID'] = tenant_id

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(search_context)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SearchContext')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContextApi#contexts_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
